#login-form input[type="text"] {
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 30px;
}

#login-form input[type="text"]:focus {
  outline: none;
}
#login-form input[type="text"]::placeholder {
  color: white;
  opacity: 0.5;
}

#login-form input[type="text"]:focus::placeholder {
  color: transparent;
}

#login-form input[type="submit"] {
  display: none;
}

#greeting {
  font-size: 60px;
  margin: -20px 0px;
  color: white;
}
