#weather-div {
  width: 100%;
  text-align: center;
  color: white;
}

#weather {
  vertical-align: middle;
}

#weather img {
  width: 70px;
}

#weather div:last-child {
  font-size: 30px;
  font-weight: 50;
}
